/*
* ====================[ START FS LICENSE ]====================
* © 2019 FULLSAVE.
* Ce document ne fait pas partie du domaine public. Il est et demeure la
* propriété exclusive de FULLSAVE.
* Il est protégé par le Code de la Propriété intellectuelle et le droit
* d’auteur.
* Toute reproduction est interdite. Toute représentation est interdite.
* Tous droits réservés. Droits non cessibles.
* =====================[ END FS LICENSE ]=====================
*/

@import "variables";
@import "mixins";
@import "search.scss";
@import "button.scss";
@import "form.scss";
@import "card.scss";
@import "cardList.scss";
@import "commonList.scss";
@import "tabs.scss";
@import "modal.scss";

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  min-height: 100vh;
  height: 100%;
}

/* Sections
   ========================================================================== */

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: map-get($background, default);
}
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-size: 1.5em;
  @include md {
    font-size: 1.55em;
  }
  @include lg {
    font-size: 1.6em;
  }
  @include xl {
    font-size: 1.7em;
  }
}
h2 {
  font-size: 1.4em;
  @include md {
    font-size: 1.45em;
  }
  @include lg {
    font-size: 1.5em;
  }
  @include xl {
    font-size: 1.6em;
  }
}
h3 {
  font-size: 1.25em;
  @include md {
    font-size: 1.3em;
  }
  @include lg {
    font-size: 1.35em;
  }
  @include xl {
    font-size: 1.4em;
  }
}
h4,
h5,
h6 {
  font-size: 1em;
  @include md {
    font-size: 1.1em;
  }
  @include lg {
    font-size: 1.15em;
  }
  @include xl {
    font-size: 1.2em;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontFamily;
  font-weight: 500;
  color: map-get($grey, 900);
  padding: 10px 0 5px;
  @include md {
    padding: 12px 0 8px;
  }
  @include lg {
    padding: 15px 0 10px;
  }
  @include xl {
    padding: 20px 0 10px;
  }
}
/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

p {
  margin: 0 0 5px;
  color: map-get($grey, 900);
  font-size: 0.9em;
  @include lg {
    font-size: 0.95em;
  }
  @include xl {
    font-size: 1em;
  }
}
/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

a {
  background-color: transparent;
  color: map-get($primary, main);
  text-decoration: none;
  transition-duration: map-get($durations, standard);
  &:hover {
    color: initial;
  }
  &:focus {
    outline: none;
  }
  &.link {
    &-active {
      span {
        color: map-get($primary, standard) !important;
      }
    }
  }
  font-size: 0.9em;
  @include lg {
    font-size: 0.95em;
  }
  @include xl {
    font-size: 1em;
  }
}
.menuUser {
  ul,
  div {
    &:focus {
      outline: none;
    }
  }
}
.toggle-menu {
  ul li em {
    margin-left: 5px;
  }
}
/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
  * Remove the inner border and padding in Firefox.
  */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus styles unset by the previous rule.
  */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Correct the padding in Firefox.
  */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */

progress {
  vertical-align: baseline;
}

/**
  * Remove the default vertical scrollbar in IE 10+.
  */

textarea {
  overflow: auto;
}

/**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
  * Remove the inner padding in Chrome and Safari on macOS.
  */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

.messageForm,
.formMessage {
  display: block;
  margin-bottom: 20px;
  &-error {
    color: map-get($common, white);
    padding: map-get($spacing, unit);
    background-color: map-get($secondary, main);
  }
  &-succes {
    display: block;
    color: map-get($common, white);
    margin-bottom: 20px;
    padding: map-get($spacing, unit);
    width: 100%;
    background-color: map-get($third, main);
  }
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/*custom
=====================================================*/

/* For paper list
=====================================================*/
.paper {
  &-list {
    min-height: map-get($spacing, unit) * 20;
  }
}

/* appbar +drawer
=====================================================*/

.portex {
  display: flex;
}
.appBar {
  position: absolute !important;
  padding-right: 0 !important;
  margin-left: $drawerWidth;
  background-color: map-get($common, bandeau) !important;
  @include lg {
    width: calc(100% - 190px) !important;
  }
  @include rwd(1500) {
    width: calc(100% - #{$drawerWidth}) !important;
  }
  color: white !important;
  &.noLoggedin {
    width: 100%!important;
  }
}

.menuButton {
  margin-right: map-get($spacing, unit) * 2;
  @include md {
    display: none;
  }
}

.logo {
  max-width: 60%;
  height: auto;
  display: block;
  margin: 64px auto 64px 40px;
}

.toolbar {
  min-height: map-get($toolbar, min-height);
}

.mainAside {
  height: 100%;
}
.asideBG {
  height: 100%;
}

.drawerPaper {
  width: $drawerWidth;
  height: 100%;
  background: url($bgImage) left bottom no-repeat;
  @include lg {
    width: 190px;
  }
  @include rwd(1500) {
    width: $drawerWidth;
  }
}

/* others 
=====================================================*/
.lowercase {
  text-transform: lowercase !important;
}
.capitalize {
  text-transform: capitalize !important;
}

.tooltip {
  font-size: 0.8rem;
}

.noPadding {
  padding: 0 !important;
}

.highlight {
  padding: map-get($spacing, unit) / 2;
  background-color: map-get($grey, 200);
  border-radius: map-get($spacing, unit) / 2;
}

.color {
  &-blue {
    color: map-get($primary, dark) !important;
    border-color: map-get($primary, dark) !important;
    .MuiChip-icon {
      color: map-get($primary, dark) !important;
    }
  }
  &-red {
    color: map-get($secondary, terminated) !important;
    border-color: map-get($secondary, terminated) !important;
    .MuiChip-icon {
      color: map-get($secondary, terminated) !important;
    }
  }
  &-green {
    color: map-get($third, main) !important;
    border-color: map-get($third, main) !important;
    .MuiChip-icon {
      color: map-get($third, main) !important;
    }
  }
  &-orange {
    color: map-get($orange, 50) !important;
    border-color: map-get($orange, 50) !important;
    .MuiChip-icon {
      color: map-get($orange, 50) !important;
    }
  }
  &-brown {
    color: map-get($orange, 70) !important;
    border-color: map-get($orange, 70) !important;
    .MuiChip-icon {
      color: map-get($orange, 70) !important;
    }
  }
  &-grey {
    color: map-get($grey, 500) !important;
    border-color: map-get($grey, 500) !important;
    .MuiChip-icon {
      color: map-get($grey, 500) !important;
    }
  }
  &-pink {
    color: map-get($pink, main) !important;
    border-color: map-get($pink, main) !important;
    .MuiChip-icon {
      color: map-get($pink, main) !important;
    }
  }
  &-gold {
    color: map-get($orange, 30) !important;
    border-color: map-get($orange, 30) !important;
    .MuiChip-icon {
      color: map-get($orange, 30) !important;
    }
  }
  &-primaryBlue {
    color: map-get($primary, main) !important;
    border-color: map-get($primary, main) !important;
    .MuiChip-icon {
      color: map-get($primary, main) !important;
    }
  }
}

.select {
  &__control {
    margin-top: 0.5rem;
    &--is-focused {
      border-color: map-get($primary, main) !important;
    }
  }
  &-error {
    &__control {
      margin-top: 0.5rem;
      border-color: map-get($error, main) !important;
      border-width: 1px !important;
      &--is-focused {
        box-shadow: 0 0 0 1px map-get($error, main) !important;
      }
    }
  }
  &__single {
    &-value {
      white-space: pre-wrap !important;
    }
  }
  &__value {
    &-container {
      padding: map-get($spacing, unit) !important;
    }
  }
}

.portex {
  flex-grow: 1;
  z-index: 1;
  // overflow: hidden;
  position: relative;
  display: flex;
  width: 100%;
}

.container {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    div > .button:not(:first-child) {
      border-left: 0;
    }
    .button {
      margin: 0;
      display: inline-flex;
      align-items: center;
      svg {
        margin-right: 0.5rem;
      }
    }
  }
}
.content {
  flex-grow: 1;
  background-color: map-get($background, default);
  padding: 83px map-get($spacing, unit) * 1.5 map-get($spacing, unit) * 3;
  @include rwd(1500) {
    padding: 83px map-get($spacing, unit) * 3 map-get($spacing, unit) * 3;
  }
}
.grow {
  flex-grow: 1;
}
.menuButton {
  margin-left: -12px;
  margin-right: 20px;
}

.sectionDesktop {
  display: none;
  @include md {
    display: flex;
    align-items: center;
  }
}
.sectionMobile {
  display: flex;
  @include md {
    display: none;
  }
}

.text-right {
  text-align: right;
  @include relative();
}


/* Material ui 
============================================*/
.switch {
  margin-left: 50px;
  .MuiSwitch-switchBase.Mui-checked {
    color: map-get($secondary, main);
  }
  .MuiSwitch-track {
    background-color: map-get($secondary, main) !important;
  }
}
.customTooltip {
  font-size: 14px !important;
}
.Mui-focused fieldset {
  border-color: map-get($primary, main) !important;
}
label.Mui-focused {
  color: map-get($primary, main) !important;
}
.MuiPickersToolbar-toolbar {
  background-color: map-get($primary, light) !important;
}
.MuiPickersDay-daySelected {
  background-color: map-get($primary, light) !important;
  &:hover {
    background-color: map-get($primary, light) !important;
  }
}
