/*
* ====================[ START FS LICENSE ]====================
* © 2020 FULLSAVE.
* Ce document ne fait pas partie du domaine public. Il est et demeure la
* propriété exclusive de FULLSAVE.
* Il est protégé par le Code de la Propriété intellectuelle et le droit
* d’auteur.
* Toute reproduction est interdite. Toute représentation est interdite.
* Tous droits réservés. Droits non cessibles.
* =====================[ END FS LICENSE ]=====================
*/

@import "variables";

.commonList {
  &-responsive {
    padding: 0;
    #list-count {
      padding: 0 map-get($spacing, unit) * 2;
      font-size: 14px;
      color: map-get($grey, 600);
      font-weight: normal;
    }
    &-card {
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: map-get($grey, 500);
      }
    }
  }
}
