/*
* ====================[ START FS LICENSE ]====================
* © 2019 FULLSAVE.
* Ce document ne fait pas partie du domaine public. Il est et demeure la
* propriété exclusive de FULLSAVE.
* Il est protégé par le Code de la Propriété intellectuelle et le droit
* d’auteur.
* Toute reproduction est interdite. Toute représentation est interdite.
* Tous droits réservés. Droits non cessibles.
* =====================[ END FS LICENSE ]=====================
*/

@import "./variables";

.cardContact {
  //<border-bottom: 1px solid map-get($grey, 400);
  text-align: left;
  margin-bottom: 20px;
  &-headerContact {
    color: map-get($grey, 600);
    text-transform: uppercase;
  }
  .icon {
    margin-right: 10px;
    display: inline-block;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .phone {
    margin-bottom: 5px;
    &-infos {
      display: inline-block;
      vertical-align: top;
      margin-bottom: map-get($spacing, unit) * 0.5;
      a {
        display: inline-block;
        margin-bottom: map-get($spacing, unit);
      }
      .sendSms {
        display: block;
        color: map-get($primary, main);
        font-style: italic;
        text-decoration: underline;
        font-size: 14px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .mail {
    margin-bottom: 5px;
    a {
      vertical-align: top;
      word-wrap: break-word;
    }
  }

  .userCardLink {
    margin-bottom: 0px !important;
    display: inline-block;
  }
}
