/*
* ====================[ START FS LICENSE ]====================
* © 2021 FULLSAVE.
* Ce document ne fait pas partie du domaine public. Il est et demeure la
* propriété exclusive de FULLSAVE.
* Il est protégé par le Code de la Propriété intellectuelle et le droit
* d’auteur.
* Toute reproduction est interdite. Toute représentation est interdite.
* Tous droits réservés. Droits non cessibles.
* =====================[ END FS LICENSE ]=====================
*/

.modal {
  &-title {
    display: flex !important;
    align-items: center;
    &-avatar {
      background-color: map-get($primary, main) !important;
      margin-right: map-get($spacing, unit);
    }
    span {
      color: map-get($grey, 700) !important;
      padding: 0;
      font-size: 25px;
    }
  }
  &-item {
    &-value {
      color: map-get($grey, 800) !important;
      &:hover {
        background-color: map-get($grey, 100) !important;
      }
    }
  }
}
