/*
* ====================[ START FS LICENSE ]====================
* © 2021 FULLSAVE.
* Ce document ne fait pas partie du domaine public. Il est et demeure la
* propriété exclusive de FULLSAVE.
* Il est protégé par le Code de la Propriété intellectuelle et le droit
* d’auteur.
* Toute reproduction est interdite. Toute représentation est interdite.
* Tous droits réservés. Droits non cessibles.
* =====================[ END FS LICENSE ]=====================
*/

@import "./mixins";
.tabs {
  margin-top: map-get($spacing, unit) * 4;
  &Link {
    &-content {
      @include lg {
        display: flex;
        align-items: flex-start;
      }
    }
  }
  .Mui-selected {
    color: map-get($primary, main) !important;
  }
  .MuiTabs-indicator {
    background-color: map-get($primary, main) !important;
  }
  &-tab {
    outline: none !important;
    padding: map-get($spacing, unit) map-get($spacing, unit) * 5 !important;
  }
}
