/*
* ====================[ START FS LICENSE ]====================
* © 2021 FULLSAVE.
* Ce document ne fait pas partie du domaine public. Il est et demeure la
* propriété exclusive de FULLSAVE.
* Il est protégé par le Code de la Propriété intellectuelle et le droit
* d’auteur.
* Toute reproduction est interdite. Toute représentation est interdite.
* Tous droits réservés. Droits non cessibles.
* =====================[ END FS LICENSE ]=====================
*/
@import "../../../ressources/styles/variables.scss";

.commonList {
  &-filters {
    padding: 0 map-get($spacing, unit) * 2;
    display: inline-flex;
    &-show {
      width: 100%;
      opacity: 1;
      transition-duration: map-get($durations, shorter);
    }
    &-hide {
      display: none;
    }
  }
}
